<app-section [hasImage]="true" [imagePath]="'/images/care.png'">
  <div class="card">
    <div class="dash-header">
      <p>{{ t.translate('page_1.section_1.top_label') }}</p>
      <h2>{{ t.translate('page_1.section_1.heading') }}</h2>
    </div>
    <p>{{ t.translate('page_1.section_1.subheading') }}</p>
  </div>
</app-section>
<p-panel class="panel-section">
  <div class="cards-down">
    @for (i of [0,1,2,3]; track i)
    {
      <p-panel style="width: 75%">
        <ng-template #header>
          <div class="dash-header text-oliva-green">
            <p>{{ t.translate(`page_1.section_2.card_${i}.heading`) }}</p>
          </div>
        </ng-template>
        <div class="subtitle">
          @for (line of t.translateArray(`page_1.section_2.card_${i}.body`); track $index)
          {
            @if (line === '')
            {
              <br/>
            }
            @else
            {
              <p style="margin: 0;">{{ line }}</p>
            }
          }
        </div>
      </p-panel>
    }
    <p-panel style="width: 75%">
      <ng-template #header>
        <div class="dash-header text-oliva-green">
          <p>{{ t.translate('page_1.section_2.card_4.heading') }}</p>
        </div>
      </ng-template>
      <p-accordion value="0">
        @for (faq of getFaqs('page_1.section_2.card_4.body'); track $index; let i = $index)
        {
          <p-accordion-panel  [value]="i">
            <p-accordion-header>
              <p class="title">{{ faq.question }}</p>
            </p-accordion-header>
            <p-accordion-content>
              <div class="subtitle">
                @for (line of faq.answer; track $index)
                {
                  @if (line === '')
                  {
                    <br/>
                  }
                  @else
                  {
                    <p style="margin: 0;">{{ line }}</p>
                  }
                }
              </div>
            </p-accordion-content>
          </p-accordion-panel>
        }
      </p-accordion>
    </p-panel>
  </div>
</p-panel>
