<app-section [hasImage]="true" [imagePath]="'/images/image_01.jpeg'">
  <div class="card">
    <div class="dash-header">
      <p>{{  t.translate('page_2.section_1.top_label') }}</p>
      <h2>{{ t.translate('page_2.section_1.heading') }}</h2>
    </div>
    <p>{{ t.translate('page_2.section_1.subheading') }}</p>
  </div>
</app-section>
<p-panel class="panel-section">
  <div class="cards-down">
    @for (i of [0,1,2,3,4]; track i)
    {
      <p-panel style="width: 75%">
        <ng-template #header>
          <div class="dash-header text-oliva-green">
            <p>{{ t.translate(`page_2.section_3.card_${i}.heading`) }}</p>
          </div>
        </ng-template>
        <div class="subtitle">
          @for (line of t.translateArray(`page_2.section_3.card_${i}.body`); track $index)
          {
            @if (line === '')
            {
              <br/>
            }
            @else
            {
              <p class="m-none">{{ line }}</p>
            }
          }
        </div>
      </p-panel>
      @if (i === 0)
      {
        <br/>
      }
    }
  </div>
</p-panel>
