.flex-center {
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap-sm {
    gap: 0.5rem;
}

.gap-md {
    gap: 1rem;
}

.gap-lg {
    gap: 2rem;
}

.mt-sm {
    margin-top: 0.5rem;
}

.mt-md {
    margin-top: 1rem;
}

.mt-lg {
    margin-top: 2rem;
}

.text-left  {
    text-align: left;
}

.text-right {
    text-align: right;
}

.small {
    height: 10rem;
}

.medium {
    height: 20rem;
}

.large {
    height: 40rem;
}