<div class="content" [style]="`width:${width}`">
  <h2 [class]="hasDash? 'title big-dash': 'title'" [style]="isTitleGreen? 'color: var(--oliva-green);': ''">{{ title }}</h2>
  @if (subtitle)
  {
    <p class="subtitle">{{ subtitle }}</p>
  }
  @else
  {
    <div style="width: stretch; display: flex; flex-direction: column; justify-content: center;">
      <ng-content></ng-content>
    </div>
  }
  @if(hasButton)
  {
    <app-button style="align-self: center;" [isGreen]="true" [label]="buttonLabel" (click)="OnClick.emit()"></app-button>
  }
</div>
