:host select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.25rem 1rem;
  margin-top: 1rem;
  margin-right: 0.1rem;
  background: none;
  border: 1px solid var(--dark-body-text-colour);
  color: var(--dark-body-text-colour);
  cursor: pointer;
  font-size: 1.25rem;
}

:host select:after {
  content: "^";
}

:host select:hover,
:host select:focus,
:host select:checked
{
  outline: none;
}

:host select option {
  background: var(--dark-body);
  color: var(--dark-body-text-colour);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

:host select option:hover,
:host select option:focus,
:host select option:checked {
  background: var(--dark-body);
  color: var(--dark-body-text-colour);
}
