@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  --dark-body-text-colour: darkgray;
  --body-header-text-colour: rgb(49,81,125);
  --body-text-colour: rgb(90,106,122);
  --dark-body: #1e293b;
  --oliva-green: #86b622;
  --body-colour: white;
  color: var(--body-header-text-colour);
}

.title {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 0.95rem;
  color: var(--body-text-colour);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  font-weight: 500;
  height: 4rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--dark-body);
  color: var(--dark-body-text-colour);
  text-align: center;
  padding: .75rem 1rem;
  font-size: .85rem;
}

footer i {
  color: var(--dark-body);
  margin-right: .35rem;
  vertical-align: middle;
}

.bleached-text {
  color: white;
}

.big-dash::before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2px;
  background-color: currentColor;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.nav-body {
  background-color: var(--body-colour);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}

.logo {
  height: 2rem;
  width: 4.23rem;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.nav-menu-item {
  text-decoration: none;
  color: inherit;
  user-select: none;
  cursor: pointer;
}

.nav-menu-item:hover {
  height: inherit;
  border-bottom: 0.2rem solid var(--oliva-green);
  border-radius: 1px;
}

.nav-menu-item.active {
  height: inherit;
  border-bottom: 0.1rem solid var(--oliva-green);
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-radius: 3rem;
  corner-shape: squircle;
  text-align: left;
  height: fit-content;
}

.text-oliva-green {
  color: var(--oliva-green);
}

.background-oliva-green {
  background-color: var(--oliva-green);
}

.background-frost-dark {
  background-color: rgba(0,0,0,0.5);
}

.p-panel-clear {
  border: none;
  border-radius: 0;
}
