:host {
  position: relative;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  display: grid;
  place-items: center;
}

:host img {
  width: inherit;
  height: 50vh;
  object-fit: cover;
  z-index: -1;
}
